.grid-headers {
  display: grid;
  width: 50%;
  margin: auto;
  grid-template-columns: repeat(2, auto);
}

.grid-footers {
  display: grid;
  width: 50%;
  margin: auto;
  grid-template-columns: repeat(2, 80% 20%);
}

.centered {
  margin: 0 auto;
  width: 50%;
}

.grid-sidebysides {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(2, auto);
}

.grid-sidebyside {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.middle {
  text-align: center;
}

.title {
  font-size: 5em;
  text-align: center;
  padding: 50px;
  color: #fff;
  font-weight: 700;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.intro {
  font-size: 2em;
  text-align: right;
  color: #000;
}

.buttonClick {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 55px;
  width: 180px;
  background-color: lightGray;
  color: #333;
  font-size: 20px;
}

.screencap {
  background: url("./../images/screencap.png");
  width: 640px;
  height: 384px;
  align-items: center;
  align-content: center;
}

.text {
  padding-top: 1em;
  padding-bottom: : 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 0 1em 0;
  letter-spacing: 2px;
}

a.black {
  color: #333 !important;
  font-color: #333 !important;
  font-size: 0.5em;
}

.cohort-subheader {
  font-size: 2em;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  letter-spacing: 2px;
}

.vcenter {
  vertical-align: center;
  width: 100%
  height: 64px;
}

.macos {
  background: url("./../images/mac.png");
  height: 30px;
  width: 30px;
}

.windows {
  background: url("./../images/windows.png");
  height: 30px;
  width: 30px;
}

.email {
  background: url("./../images/code.png");
  height: 30px;
  width: 30px;
}

.code {
  background: url("./../images/code.png");
  height: 30px;
  width: 30px;
}
.inputClick {
  padding: 5px;
  margin: 5px;
  height: 45px;
  width: 200px;
  background-color: lightGray;
  color: #333;
  font-size: 24px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .grid-headers {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2, auto);
  }

  .grid-footers {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2, 80% 20%);
  }
  .centered {
    margin: 0 auto;
    width: 100%;
  }
  .intro {
    font-size: 4em;
    text-align: right;
    color: #000;
    padding-right: 15px;
  }
  .title {
    font-size: 5em;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  .buttonClick {
    padding: 5px;
    margin: 5px;
    height: 150px;
    width: 500px;
    background-color: lightGray;
    color: #333;
    font-size: 3em;
  }
  .screencap {
    background: url("./../images/screencap.png");
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
  }
  .text {
    padding-top: 1em;
    padding-bottom: : 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 0 1em 0;
    letter-spacing: 2px;
    font-size: 2em;
  }
  a.black {
    color: #333 !important;
    font-color: #333 !important;
    font-size: 2em;
  }
  .cohort-subheader {
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0;
    letter-spacing: 2px;
  }
  .vcenter {
    vertical-align: center;
    width: 100%
    height: 100px;
    font-size: 1.5em;
  }
  .macos {
    background: url("./../images/mac.png");
    height: 60px;
    width: 60px;
  }

  .windows {
    background: url("./../images/windows.png");
    height: 60px;
    width: 60px;
  }

  .email {
    background: url("./../images/code.png");
    height: 60px;
    width: 60px;
  }

  .code {
    background: url("./../images/code.png");
    height: 60px;
    width: 60px;
  }
  .inputClick {
    padding: 5px;
    margin: 5px;
    height: 80px;
    width: 500px;
    background-color: lightGray;
    color: #333;
    font-size: 2em;
  }
}

html {
  background: #ddd;
  font-family: Arial;
  color: #555;
}
body {
  margin: 0; height: 100%;
}

a {
  color: #ffe300;
  text-decoration: none;
}

a:hover {
  color: #000;
}

table.labeled {
  padding-top: 10px;
  padding-bottom: 10px;
}

td.right {
  text-align: right;
}

td.labeled {
  padding: 5px;
}

div.right {
  float: right;
}

#codehort-header {
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Arial;
  border: 0px;
  position: fixed;
  height: 256px; /* subtracting the padding on top/bottom */
  margin-top: 0px;
  z-index: 5;
  width: 100%;
  background-color: #ffe300;
}

#codehort-header-behind {
  z-index: 3;
  position: absolute;
  overflow-y:auto;
  margin-top: 276px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.download {
  background-color: rgba(9,180,80,1);
}

.codehort-footer {
  font-size: 1em;
  font-weight: 500;
}

.codehort-display {
  padding: 5px;
  border: 1px solid #000;
  width: auto;
  margin-left: 275px;
  margin-right: 275px;
}

.codehort-display::selection {
  background: #ffe300;
}

.session {
  width: 300px;
  maxSize: 20px;
}

.grid-header {
  padding: 0px;
  margin-left: 0px;
}

.grid-footer {
  padding: 0px;
  margin-left: 0px;
}

.buttonClickOk:hover {
  background-color: #ffe300;
}

.buttonClickCancel:hover {
  background-color: #ff4b00;
}

.buttonIcon {
  height: 57px;
  width: 57px;
  background-color: #eee;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: #cccccc;*/
  /*background-size: cover; */
}

.logo {
  background: url("./../images/codehort-logo-white-512.png");
  height: 256px;
  width: 256px;
}

.logo-yellow {
  background-image: url("./../images/codehort-logo-512.png");
  height: 64px;
  width: 64px;
}

.target {
  background: url("./../images/target-gray.png");
  height: 128px;
  width: 128px;
}

.georgiatech {
  background: url("./../images/gt-gray.png");
  height: 128px;
  width: 303px;
}

.image {
  background-repeat: no-repeat;
  background-position: contain;
  background-size:contain;
  margin-right: 5px;
  margin-left: 5px;
}

#cohort-footer {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background: #fff;
  z-index: 5;
}

.white {
  padding: 50px;
  background: #fff;
}

.gray {
  padding: 50px;
  background: #ddd;
}

.grid-buttons {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(2, auto);
}

.grid-button {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
