html {
  background: #ddd;
  height: 100%;
}
body {
  margin: 0; height: 100%;

}

table.labeled {
  padding-top: 10px;
  padding-bottom: 10px;
}

td.right {
  text-align: right;
}

td.labeled {
  padding: 5px;
}

div.right {
  float: right;
}

#codehort-header {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 30px;
  font-family: Arial;
  position: fixed;
  height: 80px; /* subtracting the padding on top/bottom */
  margin-top: -100px;
  z-index: 5;
  background: #ddd;
  width: 100%;
}

#codehort-header-behind {
  margin-top: 100px;
  z-index: 3;
  position: fixed;
}


/* Height / width / positioning can be customized for your use case.
   For demo purposes, we make firepad fill the entire browser. */
#firepad-container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.panel {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 8;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: auto; /* Enable scroll if needed */
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 7;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.panel-large {
  background-color: #fefefe;
  margin: 5% 15%; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  height: 55%;
}

.panel-small {
  background-color: #fefefe;
  margin: 5% 30%; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
  height: 35%;
}

.panel-header {
  font-family: Arial;
}

.panel-body {
  font-family: Arial;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.inputClick {
  padding: 5px;
  margin: 5px;
  height: 45px;
  width: 130px;
  background-color: lightGray;
  color: #333;
  font-size: 24px;
}

.session {
  width: 300px;
  maxSize: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.buttonClick {
  padding: 5px;
  margin: 5px;
  height: 45px;
  width: 130px;
  background-color: lightGray;
  color: #333;
  font-size: 24px;
}

.buttonClickOk:hover {
  background-color: powderblue;
}

.buttonClickCancel:hover {
  background-color: pink;
}

.buttonIcon {
  height: 57px;
  width: 57px;
  background-color: powderblue;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: #cccccc;*/
  /*background-size: cover; */
}
.newBtn {
  background-image: url("./../img/twotone_insert_drive_file_black_18dp.png");
}
.saveBtn {
  background-image: url("./../img/twotone_save_black_18dp.png");
}
.undoBtn {
  background-image: url("./../img/twotone_undo_black_18dp.png");
}
.redoBtn {
  background-image: url("./../img/twotone_redo_black_18dp.png");
}
.copyBtn {
  background-image: url("./../img/twotone_file_copy_black_18dp.png");
}
.pasteBtn {
  background-image: url("./../img/twotone_perm_media_black_18dp.png");
}
.zoomOutBtn {
  background-image: url("./../img/twotone_zoom_out_black_18dp.png");
}
.zoomInBtn {
  background-image: url("./../img/twotone_zoom_in_black_18dp.png");
}
.searchBtn {
  background-image: url("./../img/baseline_search_black_18dp.png");
}
.replaceBtn {
  background-image: url("./../img/baseline_search_black_18dp.png");
}
.newSessionBtn {
  background-image: url("./../img/twotone_person_add_black_18dp.png");
}
.joinSessionBtn {
  background-image: url("./../img/twotone_group_black_18dp.png");
}
.infoSessionBtn {
  background-image: url("./../img/twotone_info_black_18dp.png");
}
.configBtn {
  background-image: url("./../img/twotone_settings_black_18dp.png");
}
.runBtn {
  background-image: url("./../img/twotone_play_circle_filled_black_18dp.png");
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
